# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/
# If you use Jupyter notebooks
.ipynb_checkpoints/

# MongoDB
# Ignore local MongoDB database files
/data/db/
data/
database/

# Virtual environments
.Python
python_env/
local_env/
.venv/
venv/
ENV/
env.bak/
venv.bak/
mojo_env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build directory
build/
dist/

# Ignore config files
*.local
*.dev
*.prod
*.test

# Other
*.swp
*.swo
*.swn
*.pid

# Coverage directory used by tools like istanbul
coverage/

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt
dist/

# Gatsby files
.cache/
public/

# Vue.js
*.vue

**/package-lock.json/